version: '3.8'

services:
  postgres:
    image: pgvector/pgvector:pg16
    container_name: vector_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: rag_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: redis_broker
    ports:
      - "6379:6379"

  app:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - postgres
      - redis
    volumes:
      - .:/app
      - ./data:/app/data
    env_file:
      - .env
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload

  worker:
    build: .
    command: celery -A app.core.celery_app worker --loglevel=info -P solo
    depends_on:
      - redis
      - postgres
    volumes:
      - .:/app
      - ./data:/app/data
    env_file:
      - .env

volumes:
  postgres_data: